body{
    background: #FC5C7D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    text-align: center;
}

.perritos{
    background-color: aquamarine;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font}



.gatitos{ 
    background-color: cornflowerblue;
    font-style: italic;
    margin: 50px;
    border: 50px;
    border-color: black;}

img {
    border: 10px solid rgb(132, 24, 114);
}